.shopping-cart {
  background: #f8f9fa;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 80px; 
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}
